.box{
    background-image: url(./Assets/photo-1.jpg);
    background-repeat: no-repeat;
    width: 1350px;
    height: 650px;
}
.p-1{
    color: white;
    font-size: 100px;
    margin-top: 180px;
    width: 700px;
    font-weight: bold;
    margin-left: 25px;
    line-height: 100px ;
}
.p-2{
    color: white;
    width: 500px;
    margin-left: 25px;
}
.b-1{
    background-color: indianred;
    border: 2px solid indianred;
    border-radius: 50px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    margin-left: 40px;
    color: white;
    margin-top: 30px;
}
.img-1{
    width: 100px;
    height: 100px;
    margin: 120px 0px 0px 80px;
}
.h-1{
    color: tomato;
    text-align: center;
    margin-top: 80px;


}
.p-3{
    color: tomato;
    text-align: center;
    margin-top: 0px;
}
.img-2{
    width: 150px;
    height: 150px;
    margin-top: 100px;
    margin-left: 50px;
}
.img-3{
    width: 100px;
    height: 100px;
    margin-left: 0px;
    margin-top: 30px;
}
.img-4{
 width: 200px;
 height: 200px;
 border: 2px solid white;
 border-radius: 120px;
}
.img-5{
width: 200px;
height: 200px;
border: 2px solid white;
border-radius: 120px;
}
.img-6{
 width: 200px;
 height: 200px;
 border: 2px solid white;
 border-radius: 120px;
}
.img-7{
    width: 70px;
    height: auto;
    margin-top: 150px;
    margin-left: 50px;
}
.h-2{
    color: tomato;
    margin-top: 20px;
    font-weight: bold;
}
.p-4{
    text-align: center;
    color: tomato;
    line-height: 0px;
}
.h-3{
    color: tomato;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.p-5{
    text-align: center;
    color: tomato;
    margin-top: 0xp;
    line-height: 0px;
 } 
.h-4{
    color: tomato;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    
}
.p-6{
    text-align: center;
    color: tomato;
    margin-top: 30px
}
.img-8{
width: 100px;
height: auto;
margin-top: 320px;
}
.img-9{
    width: 80px;
    height: auto;
    margin-top: 320px;
}
.box-1{
    background-image: url(./Assets/red.jpg);
width: 1350px;
height: 700px;
}
.img-10{
width: 400px;
height: auto;
border: 2px solid tomato;
border-radius: 200px;
margin-left: 100px;
margin-top: 200px;

}
.h-5{
    font-size: 100px;
    text-align: left;
    margin-top: 200px;
    color: white;
 
}
.p-7{
text-align: left;
margin-top: 0px;
color: white;

}
.b-2{
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
    margin-left: 100px;
    margin-top: 40px;
    font-size: 30px;
}
.img-11{
width: 70px;
height: auto;
margin-top: 200px;
margin-left: 0px;
}
.img-12{
width: 150px;
height: auto;
margin-top: 50px;
margin-left: 50px;
}
.img-13{
width: 100px;
height: auto;
margin-top: 100px;
margin-left: 230px;
}
.img-14{
    width: 400px;
    height: auto;
    border: 2px solid white;
    border-radius: 300px;

}
.h-6{
 font-size: 100px;
 color:tomato;
margin-left: 50px;
margin-top: 0px;
}
.p-8{
color: tomato;
margin-left: 50px;
margin-top: 50px;
width: 300px;
}
.b-3{
    color: white;
    background-color: tomato;
    border: 1px solid white;
    border-radius: 50px;
   margin-left: 50px;
   margin-top: 30px;
   font-size: 30px;
}
.box-2{
    background-image: url(./Assets/red.jpg);
    background-size: cover;
    margin-top: 100px;
    padding-bottom: 100px;
}
.h-7{
color: white;
margin-top: 100px;
font-size: 50px;


}
.p-9{
color: white;
width: 500px;
margin-left: 70px;
}
.h-8{
color: white;
font-size: 100px;
margin-top: 100px;

}
.p-10{
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 0px;
}
.h-9{
color: white;
font-size: 100px;
margin-top: 100px;
}
.p-11{
color: white;
font-size: 30px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
line-height: 0px;
}
.h-10{
    color: white;
    font-size: 100px;
    margin-top: 100px;
    
}
.p-12{
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 0px;
}
/* .circle-1{
border: 5px solid white;
border-radius: 250px;
}
.circle-2{
    
}
.circle-3{
    
} */
.img-15{
width: 60px;
height: auto;
margin-top: 170px;
}
.img-16{
    width: 100px;
    height: auto;
    margin-top: 120px;
}
.img-17{
    width: 160px;
    height: auto;
    margin-top: 20px;

}
.img-18{
    width: 100px;
    height: auto;
    margin-top: 160px;
    margin-right: 0px;
}
.p-13{
font-size: 80px;
color: tomato;
margin-top: 100px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
/* .box-3{

} */
.h-11{
color: tomato;
}
/* .img-card-1{

} */
/* .card-1{
    /*shadow*/
/* } */ 
/* .circle-1{
    border: 5px white solid;
    border-radius: 200px;
    margin-left: 0px;
    padding: 0px 20px 100px 20px;
} */
.p-14{
color: tomato;
width: 200px;
}
.p-15{
    color: tomato;
    font-weight: bold;
    margin-left: 40px;
    font-size: 20px;
}
.b-4{
    background-color: tomato;
    font-size: 25px;
    border: 1px tomato solid;
    border-radius: 30px;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
}
.h-12{
    color: tomato;
}
.b-5{
    background-color: tomato;
    font-size: 25px;
    border: 1px tomato solid;
    border-radius: 30px;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
}
.p-16{
    color: tomato;
    font-weight: bold;
    margin-left: 40px;
    font-size: 20px;
}
.p-17{
    color: tomato;
width: 200px;
}
.img-19{
margin-left: 0px;
width: 80px;
height: auto;
margin-top: 350px;
}
.img-20{
margin-right: 0px;
width: 100px;
height: auto;
}
.box-3{
    background: azure;
}
.p-18{
    width: 1000px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 200px;
    margin-left: 0px;
}

/* .bg-img{
    width: 1350px;
    height: 700px;
    background-image: url(./Assets/degfgvf.jpg);
    background-image: url(./Assets/red.jpg);
} */
